@model List<Microsoft.AspNetCore.Identity.IdentityUser>
@{
    ViewData["Title"] = "Редактирование модераторов";
}
<h2>Список модераторов</h2>
<a asp-controller="Admin" asp-action="AllUsers">Добавить модератора</a>
<table class="table mt-2">
    <tr><th>Имя пользователя</th><th>Электронная почта</th><th>Кнопка изменения роли</th></tr>
    @foreach (var moder in Model)
    {

        <tr>
            <td>@moder.UserName</td>
            <td>
                @moder.Email

            </td>
            <td>
                <form asp-controller="Admin" asp-action="DeleteRole" asp-route-id="@moder.Id" method="post">
                    <button type="submit" class="btn btn-sm btn-danger">
                        Убрать с роли модератора
                    </button>
                </form>
            </td>

        </tr>
        <tr></tr>
    }
</table>